<p><strong>Nom &amp; prenom :</strong> {{ contact.fullName }} ,<strong> Email :</strong>{{ contact.email }} , <strong>Telephone :</strong>  {{ contact.phoneNumber }} , <strong>Company : </strong>  {{ contact.company }}</p>

<h4>{{ contact.subject }}</h4>

<p>{{ contact.message }}</p>
